<section class="title">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1>{{model.name}}</h1>
			</div>
			<div class="span6">
				<ul class="breadcrumb pull-right">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li><a href="#activity">Activity</a><span class="divider">/</span></li>
					<li class="active">{{model.name}}</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="activityDetails" class="container">
	<div class="row-fluid">
			<div class="span6">
	<div id="slider"></div>
		</div>
	<div class="span6">
	<h2>{{model.name}}</h2>
	<hr>
	<p>{{model.description}}</p>
	</div>

	</div>
</section>