<section class="title">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1>Activity</h1>
			</div>
			<div class="span6">
				<ul class="breadcrumb pull-right">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Activity</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="activity" class="container main">
	<ul class="gallery col-4">
{{#each collection}}
		<li>
			<div class="preview">
				<a><img alt=" " src="{{photos.0.path}}">
			</a></div>
			<div class="desc">
				<a href="#activity/{{id}}"><h5>{{name}}</h5></a>
			</div>
		</li>
{{/each}}
	</ul>
</section>