
<section class="title">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1>Album dei pelosi</h1>
			</div>
			<div class="span6">
				<ul class="breadcrumb pull-right">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Album dei pelosi</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="portfolio" class="container main">
	<ul class="gallery col-3">
{{#each collection}}
		<li>
			<div class="preview">
				<a><img class="colorbox" data-id="{{id}}" data-title="{{name}} alt=" " src="{{photos.0.path}}">
			</a></div>
			<div class="desc">
				<h5>{{name}}</h5>
			</div>
		</li>
{{/each}}
	</ul>
</section>