
<section class="title">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1>Album dei pelosi</h1>
			</div>
			<div class="span6">
				<ul class="breadcrumb pull-right">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Album dei pelosi</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="portfolio" class="container main">
	<ul class="gallery col-4">

		<li>
			<div class="preview">
				<img alt=" " src="img/scodinzolando/Festa del bastardino/1.jpg">
			</div>
			<div class="desc">
				<h5>Titolo</h5>
				<small>Descrizione</small>
			</div>
		</li>

	</ul>
</section>