<section class="title">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1>Calendario e attività</h1>
			</div>
			<div class="span6">
				<ul class="breadcrumb pull-right">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Calendario e attività</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<style type="text/css">

.agenda-more {
color: #C6E6B5;
}
</style>

<section class="container main" >
	<div class="row-fluid">
		<div id="calendar" class="span6">
			<iframe src="https://www.google.com/calendar/embed?showTitle=0&showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=400&amp;wkst=2&amp;hl=it&amp;bgcolor=%23ffffff&amp;src=c07mg63k76jfh42rle1itj3b68%40group.calendar.google.com&amp;color=%236B3304&amp;ctz=Europe%2FRome" style="border-width:0;" height="450" width="750" frameborder="0" scrolling="no"></iframe>
		</div>
		<div id="events" class="span6">
			<iframe id="gFrame" src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;hl=it&amp;bgcolor=%23ffffff&amp;src=c07mg63k76jfh42rle1itj3b68%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=Europe%2FRome" style=" border-width:0; margin-left: 20em;" height="450"  frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</section>
