<section class="title">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1>Corsi e stage</h1>
			</div>
			<div class="span6">
				<ul class="breadcrumb pull-right">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Corsi e stage</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<<style>
<!--

-->
.agenda-more {
color: #C6E6B5;
}
</style>

<section class=container>
	<div id=calendar></div>
	<div id="events">
<!-- 		<iframe id="gFrame" src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;hl=it&amp;bgcolor=%23ffffff&amp;src=7i3jq0tper8bo08v662a80bmrk%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=Europe%2FRome" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
		<iframe id="gFrame" src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;hl=it&amp;bgcolor=%23ffffff&amp;src=c07mg63k76jfh42rle1itj3b68%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=Europe%2FRome" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</section>
