<div class="jumbotron">
	<div class="container">
		<img src="img/scodinzolando/home.jpg" class="img-rounded img-responsive">
		
		<blockquote class="blockquote-reverse center-block">
  			<p>{{labels.home.title}}</p>
  			<footer>{{labels.home.author}}</footer>
		</blockquote>
		
		<div class="lead">
			<p>{{labels.home.description}}</p>
		</div>
	</div>
</div>

