<div class="container">
	<div class="homequote">
		<img class="sco-img-home img-rounded img-responsive"
			src="img/scodinzolando/home.jpg">

		<div class="sco-blockquote">
			<blockquote
				class="blockquote-reverse center-block fontsforweb_fontid_17763">
				E l'antica amicizia, la gioia di essere cane e di essere uomo
				tramutata in un solo animale che cammina muovendo sei zampe e una
				coda intrisa di rugiada... <span class="author"><i>Pablo
						Neruda</i></span>
			</blockquote>
		</div>
	</div>
	<hr>
	<div class="sco-description-home">
		<h2>Centro cinofilo Scodinzolando</h2>
		<p class="text-justify">{{labels.home.description}}</p>
	</div>
</div>

