<div class="jumbotron">
	<div class="container">
		<img class="sco-img-home img-rounded img-responsive" src="img/scodinzolando/home.jpg">
		
		<div class="sco-blockquote">
		<blockquote class="blockquote-reverse center-block">
  			<em>{{labels.home.title}}</em>
  			<footer>{{labels.home.author}}</footer>
		</blockquote>
		</div>
		<div class="sco-description-home">
			<p class="text-justify">{{labels.home.description}}</p>
		</div>
	</div>
</div>

