<section class="title">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1>Istruttori</h1>
			</div>
			<div class="span6">
				<ul class="breadcrumb pull-right">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Istruttori</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="instructors" class="container main">
	<div class="row-fluid">
		<div class="span6">
			<div class="box">
				<p>
					<img src="img/scodinzolando/cv/Alessandro Bindi.jpg" alt="">
				</p>
				<h5>
					<a href="#instructors/alessandro-bindi">Alessandro Bindi</a>
				</h5>
				<a class="btn btn-social btn-facebook" href="https://it-it.facebook.com/bindi.alessandro" target="_blank">
					<i class="icon-facebook"></i>
				</a>
				<a class="btn btn-social btn-download" download="CV-Alessandro.docx" href="/scodinzolando-webapp/img/scodinzolando/cv/CV-Alessandro.docx">
					<i class="icon-download"></i>
				</a>
			</div>
		</div>
		<div class="span6">
			<dl>
				<dt>Alessandro Bindi</dt>
				
				<dd>Nato in Pisa il 25.04.1960, da sempre appassionato cinofilo, per quanto attiene l’approfondimento inerente  la formazione cinofila, al fine di acquisire ulteriori competenze,  ha conseguito il Diploma di Laurea in T.A.C.R.E.C. (Tecniche Allevamento del Cane di Razze ed Educazione Cinoflila) presso la Facoltà di Medicina Veterinaria di Pisa.</dd>
				
				<dd>Iscritto nei registri C.N.S. (Centero Nazionale Sportivo) Libertas settore cinofilia, ottenendo vari attestati qualificanti quali:</dd>
				<ul>
					<li>Educatore di IV livello</li>
					<li>Preparatore Cittadino a Quattro Zampe</li>
					<li>Istruttore di Huntering IV livello</li>
					<li>Giudice Sport di Simulazione Venatoria</li>
					<li>Istruttore Utilità e Difesa</li>
					<li>Istruttore Scent Game</li>
					<li>Giudice Scent Game</li>
				</ul> 
				
				<dd>La passione, unitamente alla professionalità, lo vede iscritto all’ A.P.N.E.C. (Associazione Professionale Nazionale Educatori Cinofili) andando a ricoprire sin da subito incarichi importanti all’interno dell’Associazione, dapprima come membro della Direzione Nazionale, successivamente ricoprendo l’incarico di Vice Presidente Nazionale.</dd>
				
				<dd>Attualmente collabora in qualità di Docente Senior con l’ I.N.S.C.A. (Istituto Nazionale Studio Comportamento Animale).</dd>
				
				<dd>Per l’aspetto sportivo oltre ai riconoscimenti C.N.S. Libertas, è addestratore riconosciuto E.N.C.I.</dd>
				
				<dd>Inoltre fa parte della Commissione Eventi Sportivi F.I.S.C. (Federazione Italiana Sport Cinofili) di cui è anche responsabile per quanto attiene lo Sport di Simulazione Vnatoria.</dd>
				
				<dd>La passione preminete resta comunque quella connessa al recupero comportamentale relativamente a problematiche relazionali intraspecifiche ed interspecifiche, ansie, fobie, aggressività,  etc. ed in tal senso la professionalità è garantita dalla qualifica A.P.N.E.C. di “Esperto nella Rieducazione Comportamentale”.</dd>
			</dl>
		</div>
	</div>
</section>
