<section class="title">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1>Istruttori</h1>
			</div>
			<div class="span6">
				<ul class="breadcrumb pull-right">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Istruttori</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="instructors" class="container main">
	<div class="row-fluid">
		<div class="span4">
			<div class="box">
				<p>
					<img src="img/scodinzolando/cv/Alessandro Bindi.jpg" alt="">
				</p>
				<h5><a href="#instructors/alessandro-bindi">Alessandro Bindi</a></h5>
				<p>Nato in Pisa il 25.04.1960, da sempre appassionato cinofilo, per quanto attiene l’approfondimento inerente  la formazione cinofila, al fine di acquisire ulteriori competenze,  ha conseguito il Diploma di Laurea in T.A.C.R.E.C. (Tecniche Allevamento del Cane di Razze ed Educazione Cinoflila) presso la Facoltà di Medicina Veterinaria di Pisa.</p>
				<a class="btn btn-social btn-facebook" href="https://it-it.facebook.com/bindi.alessandro" target="_blank">
					<i class="icon-facebook"></i>
				</a>
				<a class="btn btn-social btn-download" download="CV-Alessandro.docx" href="/scodinzolando-webapp/img/scodinzolando/cv/CV-Alessandro.docx">
					<i class="icon-download"></i>
				</a>
			</div>
		</div>
		<div class="span4">
			<div class="box">
				<p>
					<img src="img/scodinzolando/cv/Roberta Norfo.jpg" alt="">
				</p>
				<h5><a href="#instructors/roberta-norfo">Roberta Norfo</a></h5>
				<p>Roberta Norfo, nata a S. Antioco (CI) il 17/07/1984. La passione per gli animali la porta a studiare Scienze ecologiche e della biodiversità curriculum neurobiologico comportamentale presso l’Università di Pisa; successivamente si appassiona in particolare alla cinofilia e segue un percorso formativo presso l’ I.N.S.C.A. (Istituto Nazionale Studio Comportamento Animale)</p>
				<a class="btn btn-social btn-facebook" href="https://www.facebook.com/roberta.norfo?fref=nf" target="_blank">
					<i class="icon-facebook"></i>
				</a>
				<a class="btn btn-social btn-download" download="CV-Alessandro.docx" href="/scodinzolando-webapp/img/scodinzolando/cv/CV-Alessandro.docx">
					<i class="icon-download"></i>
				</a>
			</div>
		</div>
		<div class="span4">
			<div class="box">
				<p>
					<img src="img/scodinzolando/cv/Valentina Floris.jpg" alt="">
				</p>
				<h5><a href="#instructors/valentina-floris">Valentina Floris</a></h5>
				<p>Valentina Floris, nata Livorno il 11 dicembre 1985; attraverso un percorso formativo I.N.S.C.A. (Istituto Nazionale Studio Comportamento Animale) ottiene la qualifica di Educatore Cinofilo, iniziando un percorso che la porterà ad ottenere anche varie qualifiche riconosciute C.N.C. Libertas settore Cinofilia.</p>
				<a class="btn btn-social btn-facebook" href="https://www.facebook.com/vale.flora" target="_blank">
					<i class="icon-facebook"></i>
				</a>
				<a class="btn btn-social btn-download" download="CV-Alessandro.docx" href="/scodinzolando-webapp/img/scodinzolando/cv/CV-Alessandro.docx">
					<i class="icon-download"></i>
				</a>
			</div>
		</div>
	</div>
</section>