<section class="title">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1>Istruttori</h1>
			</div>
			<div class="span6">
				<ul class="breadcrumb pull-right">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Istruttori</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="instructors" class="container main">
	<div class="row-fluid">
		<div class="span4">
			<div class="box">
				<p>
					<img src="img/scodinzolando/cv/Alessandro Bindi.jpg" alt="">
				</p>
				<h5>Alessandro Bindi</h5>
				<p>Mini descrizione</p>
				<a class="btn btn-social btn-facebook" href="#"><i
					class="icon-facebook"></i></a> <a
					class="btn btn-social btn-google-plus" href="#"><i
					class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter"
					href="#"><i class="icon-twitter"></i></a> <a
					class="btn btn-social btn-linkedin" href="#"><i
					class="icon-linkedin"></i></a> <a class="btn btn-social btn-download" download="CV-Alessandro.docx" 
					href="/scodinzolando-webapp/img/scodinzolando/cv/CV-Alessandro.docx"><i class="icon-download"></i></a>
			</div>
		</div>
		<div class="span4">
			<div class="box">
				<p>
					<img src="img/scodinzolando/cv/Roberta Norfo.jpg" alt="">
				</p>
				<h5>Roberta Norfo</h5>
				<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt
					auctor a ornare odio. Sed non mauris vitae erat consequat.</p>
				<a class="btn btn-social btn-facebook" href="#"><i
					class="icon-facebook"></i></a> <a
					class="btn btn-social btn-google-plus" href="#"><i
					class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter"
					href="#"><i class="icon-twitter"></i></a> <a
					class="btn btn-social btn-linkedin" href="#"><i
					class="icon-linkedin"></i></a> <a class="btn btn-social btn-download" download="CV-Roberta.doc" 
					href="/scodinzolando-webapp/img/scodinzolando/cv/CV-Roberta.doc" ><i class="icon-download"></i></a>
			</div>
		</div>
		<div class="span4">
			<div class="box">
				<p>
					<img src="img/scodinzolando/cv/Valentina Floris.jpg" alt="">
				</p>
				<h5>Valentina Floris</h5>
				<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt
					auctor a ornare odio. Sed non mauris vitae erat consequat.</p>
				<a class="btn btn-social btn-facebook" href="#"><i
					class="icon-facebook"></i></a> <a
					class="btn btn-social btn-google-plus" href="#"><i
					class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter"
					href="#"><i class="icon-twitter"></i></a> <a
					class="btn btn-social btn-linkedin" href="#"><i
					class="icon-linkedin"></i></a> <a class="btn btn-social btn-download" download="CV-Valentina.docx" 
					href="/scodinzolando-webapp/img/scodinzolando/cv/CV-Valentina.docx" ><i class="icon-download"></i></a>
			</div>
		</div>
	</div>
</section>