<section class="title">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1>Istruttori</h1>
			</div>
			<div class="span6">
				<ul class="breadcrumb pull-right">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Istruttori</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="instructors" class="container main">
	<div class="row-fluid">
		<div class="span6">
			<div class="box">
				<p>
					<img src="img/scodinzolando/cv/Roberta Norfo.jpg" alt="">
				</p>
				<h5><a href="#instructors/roberta-norfo">Roberta Norfo</a></h5>
				<a class="btn btn-social btn-facebook" href="https://www.facebook.com/roberta.norfo?fref=nf" target="_blank">
					<i class="icon-facebook"></i>
				</a>
				<a class="btn btn-social btn-download" download="CV-Alessandro.docx" href="/scodinzolando-webapp/img/scodinzolando/cv/CV-Alessandro.docx">
					<i class="icon-download"></i>
				</a>
			</div>
		</div>
		<div class="span6">
			<dl>
				<dt>Roberta Norfo, nata a S. Antioco (CI) il 17/07/1984.</dt>
				<dd>La passione per gli animali la porta a studiare Scienze ecologiche e della biodiversità curriculum neurobiologico comportamentale presso l’Università di Pisa; successivamente si appassiona in particolare alla cinofilia e segue un percorso formativo presso l’ I.N.S.C.A. (Istituto Nazionale Studio Comportamento Animale) che le conferisce le seguenti qualifiche:</dd>
				<ul>
					<li>tecnico educatore cinofilo III livello C.N.S. (Centro Nazionale Sportivo) Libertas;</li>
					<li>educatore cinofilo A.P.N.E.C. (Associazione Professionale Nazionale Educatori Cinofili).</li>  
				</ul>
				<dd>Attualmente sta seguendo un percorso formativo F.I.S.C. (Federazione Italiana Sport Cinofili) per la qualifica di “Istruttore Scent Game”.</dd>
			</dl>
		</div>
	</div>
</section>
