{{#if collection}}
<div id="slider1_container"
	style="position: relative; width: 800px; height: 533px; overflow: hidden;">

	<!-- Slides Container -->
	<div u="slides"
		style="cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 533px; overflow: hidden;">
		{{#each ../collection}}
			<div>
				<img u="image" src="{{path}}" title="{{name}}" />
			</div> 
		{{/each}}
	</div>


	<!-- Bullet Navigator Skin Begin -->
	<!-- bullet navigator container -->
	<div u="navigator" class="jssorb02"
		style="position: absolute; bottom: 16px; left: 6px;">
		<!-- bullet navigator item prototype -->
		<div u="prototype"
			style="POSITION: absolute; WIDTH: 21px; HEIGHT: 21px; text-align: center; line-height: 21px; color: White; font-size: 12px;">
			<div u="numbertemplate"></div>
		</div>
	</div>
	<!-- Bullet Navigator Skin End -->


	<!-- Arrow Navigator Skin Begin -->
	<!-- Arrow Left -->
	<span u="arrowleft" class="jssora03l"
		style="width: 55px; height: 55px; top: 123px; left: 8px;"> </span>
	<!-- Arrow Right -->
	<span u="arrowright" class="jssora03r"
		style="width: 55px; height: 55px; top: 123px; right: 8px"> </span>
	<!-- Arrow Navigator Skin End -->
</div>
{{else}}
<p>Nessuna foto trovata</p>
{{/if}}