/*Caption Skin Begin */
        .captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
        	font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
        	color: #ffffff;
        	text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(../img/jssor/casetta.png);
        }

/* Bullet Navigator Skin Begin */
/* jssor slider bullet navigator skin 02 css
            .jssorb02 div           (normal)
            .jssorb02 div:hover     (normal mouseover)
            .jssorb02 .av           (active)
            .jssorb02 .av:hover     (active mouseover)
            .jssorb02 .dn           (mousedown)
            */
.jssorb02 div, .jssorb02 div:hover, .jssorb02 .av {
	background: url(../img/jssor/b02.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb02 div {
	background-position: -5px -5px;
}

.jssorb02 div:hover, .jssorb02 .av:hover {
	background-position: -35px -5px;
}

.jssorb02 .av {
	background-position: -65px -5px;
}

.jssorb02 .dn, .jssorb02 .dn:hover {
	background-position: -95px -5px;
}
/* jssor slider bullet navigator skin 03 css */
/*
            .jssorb03 div           (normal)
            .jssorb03 div:hover     (normal mouseover)
            .jssorb03 .av           (active)
            .jssorb03 .av:hover     (active mouseover)
            .jssorb03 .dn           (mousedown)
            */
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
	background: url(img/jssor/b03.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb03 div {
	background-position: -5px -4px;
}

.jssorb03 div:hover, .jssorb03 .av:hover {
	background-position: -35px -4px;
}

.jssorb03 .av {
	background-position: -65px -4px;
}

.jssorb03 .dn, .jssorb03 .dn:hover {
	background-position: -95px -4px;
}
/* Bullet Navigator Skin End */

/* Arrow Navigator Skin Begin */
/* jssor slider arrow navigator skin 03 css */
/*
            .jssora03l              (normal)
            .jssora03r              (normal)
            .jssora03l:hover        (normal mouseover)
            .jssora03r:hover        (normal mouseover)
            .jssora03ldn            (mousedown)
            .jssora03rdn            (mousedown)
            */
.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../img/jssor/a11.png) no-repeat;
	overflow: hidden;
}

.jssora03l {
	background-position: -3px -33px;
}

.jssora03r {
	background-position: -63px -33px;
}

.jssora03l:hover {
	background-position: -123px -33px;
}

.jssora03r:hover {
	background-position: -183px -33px;
}

.jssora03ldn {
	background-position: -243px -33px;
}

.jssora03rdn {
	background-position: -303px -33px;
}
/* jssor slider arrow navigator skin 20 css */
/*
            .jssora20l              (normal)
            .jssora20r              (normal)
            .jssora20l:hover        (normal mouseover)
            .jssora20r:hover        (normal mouseover)
            .jssora20ldn            (mousedown)
            .jssora20rdn            (mousedown)
            */
.jssora20l, .jssora20r, .jssora20ldn, .jssora20rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../img/a20.png) no-repeat;
	overflow: hidden;
}

.jssora20l {
	background-position: -3px -33px;
}

.jssora20r {
	background-position: -63px -33px;
}

.jssora20l:hover {
	background-position: -123px -33px;
}

.jssora20r:hover {
	background-position: -183px -33px;
}

.jssora20ldn {
	background-position: -243px -33px;
}

.jssora20rdn {
	background-position: -303px -33px;
}
/* Arrow Navigator Skin End */