body {
  padding-top: 50px;
}

.sco-img-home {
	position: relative;
	width: 50%;
}

.sco-blockquote {
	position: relative;
	top: -250px;
	left: 600px;
	width: 50%;
}

.sco-description-home {
	position: relative;
	top: -100px;
}